*~
*.o
*.obj
*.elf
*.lib
*.a
*.so
*.so.*
*.exe
*.out
*.app
*.i*86
*.x86_64

# TODO: Clean this up later
RTEMS_SETTINGS
fltk-1.3.0/FL/Makefile
fltk-1.3.0/config.h
fltk-1.3.0/config.log
fltk-1.3.0/config.status
fltk-1.3.0/fltk-config
fltk-1.3.0/fltk.list
fltk-1.3.0/fltk.spec
fltk-1.3.0/makeinclude
fltk-1.3.0/test/adjuster
fltk-1.3.0/test/arc
fltk-1.3.0/test/ask
fltk-1.3.0/test/bitmap
fltk-1.3.0/test/blocks
fltk-1.3.0/test/boxtype
fltk-1.3.0/test/browser
fltk-1.3.0/test/button
fltk-1.3.0/test/buttons
fltk-1.3.0/test/checkers
fltk-1.3.0/test/clock
fltk-1.3.0/test/colbrowser
fltk-1.3.0/test/color_chooser
fltk-1.3.0/test/cursor
fltk-1.3.0/test/curve
fltk-1.3.0/test/demo
fltk-1.3.0/test/doublebuffer
fltk-1.3.0/test/file_chooser
fltk-1.3.0/test/fonts
fltk-1.3.0/test/forms
fltk-1.3.0/test/hello
fltk-1.3.0/test/help
fltk-1.3.0/test/iconize
fltk-1.3.0/test/image
fltk-1.3.0/test/input
fltk-1.3.0/test/input_choice
fltk-1.3.0/test/label
fltk-1.3.0/test/line_style
fltk-1.3.0/test/list_visuals
fltk-1.3.0/test/menubar
fltk-1.3.0/test/message
fltk-1.3.0/test/minimum
fltk-1.3.0/test/native-filechooser
fltk-1.3.0/test/navigation
fltk-1.3.0/test/output
fltk-1.3.0/test/overlay
fltk-1.3.0/test/pack
fltk-1.3.0/test/pixmap
fltk-1.3.0/test/pixmap_browser
fltk-1.3.0/test/resizebox
fltk-1.3.0/test/rotated_text
fltk-1.3.0/test/scroll
fltk-1.3.0/test/subwindow
fltk-1.3.0/test/symbols
fltk-1.3.0/test/table
fltk-1.3.0/test/threads
fltk-1.3.0/test/tile
fltk-1.3.0/test/tiled_image
fltk-1.3.0/test/unittests
fltk-1.3.0/test/utf8
freetype-2.4.10/builds/unix/config.log
freetype-2.4.10/builds/unix/config.status
freetype-2.4.10/builds/unix/freetype-config
freetype-2.4.10/builds/unix/freetype2.pc
freetype-2.4.10/builds/unix/ftconfig.h
freetype-2.4.10/builds/unix/libtool
freetype-2.4.10/builds/unix/unix-cc.mk
freetype-2.4.10/builds/unix/unix-def.mk
freetype-2.4.10/config.mk
freetype-2.4.10/objs/.libs/
freetype-2.4.10/objs/apinames
freetype-2.4.10/objs/autofit.lo
freetype-2.4.10/objs/bdf.lo
freetype-2.4.10/objs/cff.lo
freetype-2.4.10/objs/ftbase.lo
freetype-2.4.10/objs/ftbbox.lo
freetype-2.4.10/objs/ftbdf.lo
freetype-2.4.10/objs/ftbitmap.lo
freetype-2.4.10/objs/ftbzip2.lo
freetype-2.4.10/objs/ftcache.lo
freetype-2.4.10/objs/ftcid.lo
freetype-2.4.10/objs/ftdebug.lo
freetype-2.4.10/objs/ftexport.sym
freetype-2.4.10/objs/ftfstype.lo
freetype-2.4.10/objs/ftgasp.lo
freetype-2.4.10/objs/ftglyph.lo
freetype-2.4.10/objs/ftgxval.lo
freetype-2.4.10/objs/ftgzip.lo
freetype-2.4.10/objs/ftinit.lo
freetype-2.4.10/objs/ftlcdfil.lo
freetype-2.4.10/objs/ftlzw.lo
freetype-2.4.10/objs/ftmm.lo
freetype-2.4.10/objs/ftmodule.h
freetype-2.4.10/objs/ftotval.lo
freetype-2.4.10/objs/ftpatent.lo
freetype-2.4.10/objs/ftpfr.lo
freetype-2.4.10/objs/ftstroke.lo
freetype-2.4.10/objs/ftsynth.lo
freetype-2.4.10/objs/ftsystem.lo
freetype-2.4.10/objs/fttype1.lo
freetype-2.4.10/objs/ftwinfnt.lo
freetype-2.4.10/objs/ftxf86.lo
freetype-2.4.10/objs/libfreetype.la
freetype-2.4.10/objs/pcf.lo
freetype-2.4.10/objs/pfr.lo
freetype-2.4.10/objs/psaux.lo
freetype-2.4.10/objs/pshinter.lo
freetype-2.4.10/objs/psnames.lo
freetype-2.4.10/objs/raster.lo
freetype-2.4.10/objs/sfnt.lo
freetype-2.4.10/objs/smooth.lo
freetype-2.4.10/objs/truetype.lo
freetype-2.4.10/objs/type1.lo
freetype-2.4.10/objs/type1cid.lo
freetype-2.4.10/objs/type42.lo
freetype-2.4.10/objs/winfnt.lo
jpeg-8d/.deps/
jpeg-8d/.libs/
jpeg-8d/Makefile
jpeg-8d/config.log
jpeg-8d/config.status
jpeg-8d/jaricom.lo
jpeg-8d/jcapimin.lo
jpeg-8d/jcapistd.lo
jpeg-8d/jcarith.lo
jpeg-8d/jccoefct.lo
jpeg-8d/jccolor.lo
jpeg-8d/jcdctmgr.lo
jpeg-8d/jchuff.lo
jpeg-8d/jcinit.lo
jpeg-8d/jcmainct.lo
jpeg-8d/jcmarker.lo
jpeg-8d/jcmaster.lo
jpeg-8d/jcomapi.lo
jpeg-8d/jconfig.h
jpeg-8d/jcparam.lo
jpeg-8d/jcprepct.lo
jpeg-8d/jcsample.lo
jpeg-8d/jctrans.lo
jpeg-8d/jdapimin.lo
jpeg-8d/jdapistd.lo
jpeg-8d/jdarith.lo
jpeg-8d/jdatadst.lo
jpeg-8d/jdatasrc.lo
jpeg-8d/jdcoefct.lo
jpeg-8d/jdcolor.lo
jpeg-8d/jddctmgr.lo
jpeg-8d/jdhuff.lo
jpeg-8d/jdinput.lo
jpeg-8d/jdmainct.lo
jpeg-8d/jdmarker.lo
jpeg-8d/jdmaster.lo
jpeg-8d/jdmerge.lo
jpeg-8d/jdpostct.lo
jpeg-8d/jdsample.lo
jpeg-8d/jdtrans.lo
jpeg-8d/jerror.lo
jpeg-8d/jfdctflt.lo
jpeg-8d/jfdctfst.lo
jpeg-8d/jfdctint.lo
jpeg-8d/jidctflt.lo
jpeg-8d/jidctfst.lo
jpeg-8d/jidctint.lo
jpeg-8d/jmemmgr.lo
jpeg-8d/jmemnobs.lo
jpeg-8d/jquant1.lo
jpeg-8d/jquant2.lo
jpeg-8d/jutils.lo
jpeg-8d/libjpeg.la
jpeg-8d/libtool
jpeg-8d/stamp-h1
libpng-1.5.12/.deps/
libpng-1.5.12/.libs/
libpng-1.5.12/Makefile
libpng-1.5.12/config.h
libpng-1.5.12/config.log
libpng-1.5.12/config.status
libpng-1.5.12/libpng-config
libpng-1.5.12/libpng.pc
libpng-1.5.12/libpng.vers
libpng-1.5.12/libpng15-config
libpng-1.5.12/libpng15.la
libpng-1.5.12/libpng15.pc
libpng-1.5.12/libpng15_la-png.lo
libpng-1.5.12/libpng15_la-pngerror.lo
libpng-1.5.12/libpng15_la-pngget.lo
libpng-1.5.12/libpng15_la-pngmem.lo
libpng-1.5.12/libpng15_la-pngpread.lo
libpng-1.5.12/libpng15_la-pngread.lo
libpng-1.5.12/libpng15_la-pngrio.lo
libpng-1.5.12/libpng15_la-pngrtran.lo
libpng-1.5.12/libpng15_la-pngrutil.lo
libpng-1.5.12/libpng15_la-pngset.lo
libpng-1.5.12/libpng15_la-pngtrans.lo
libpng-1.5.12/libpng15_la-pngwio.lo
libpng-1.5.12/libpng15_la-pngwrite.lo
libpng-1.5.12/libpng15_la-pngwtran.lo
libpng-1.5.12/libpng15_la-pngwutil.lo
libpng-1.5.12/libtool
libpng-1.5.12/pnglibconf.dfn
libpng-1.5.12/pnglibconf.h
libpng-1.5.12/stamp-h1
t1lib-5.1.2/Makefile
t1lib-5.1.2/config.log
t1lib-5.1.2/config.status
t1lib-5.1.2/doc/Makefile
t1lib-5.1.2/examples/Makefile
t1lib-5.1.2/examples/subset
t1lib-5.1.2/examples/subset.lo
t1lib-5.1.2/examples/t1example1
t1lib-5.1.2/examples/t1example1.lo
t1lib-5.1.2/lib/.libs/
t1lib-5.1.2/lib/Makefile
t1lib-5.1.2/lib/libt1.la
t1lib-5.1.2/lib/t1lib.h
t1lib-5.1.2/lib/t1lib/Makefile
t1lib-5.1.2/lib/t1lib/parseAFM.lo
t1lib-5.1.2/lib/t1lib/sysconf.h
t1lib-5.1.2/lib/t1lib/t1aaset.lo
t1lib-5.1.2/lib/t1lib/t1afmtool.lo
t1lib-5.1.2/lib/t1lib/t1base.lo
t1lib-5.1.2/lib/t1lib/t1delete.lo
t1lib-5.1.2/lib/t1lib/t1enc.lo
t1lib-5.1.2/lib/t1lib/t1env.lo
t1lib-5.1.2/lib/t1lib/t1finfo.lo
t1lib-5.1.2/lib/t1lib/t1load.lo
t1lib-5.1.2/lib/t1lib/t1outline.lo
t1lib-5.1.2/lib/t1lib/t1set.lo
t1lib-5.1.2/lib/t1lib/t1subset.lo
t1lib-5.1.2/lib/t1lib/t1trans.lo
t1lib-5.1.2/lib/type1/Makefile
t1lib-5.1.2/lib/type1/arith.lo
t1lib-5.1.2/lib/type1/curves.lo
t1lib-5.1.2/lib/type1/fontfcn.lo
t1lib-5.1.2/lib/type1/hints.lo
t1lib-5.1.2/lib/type1/lines.lo
t1lib-5.1.2/lib/type1/objects.lo
t1lib-5.1.2/lib/type1/paths.lo
t1lib-5.1.2/lib/type1/regions.lo
t1lib-5.1.2/lib/type1/scanfont.lo
t1lib-5.1.2/lib/type1/spaces.lo
t1lib-5.1.2/lib/type1/t1io.lo
t1lib-5.1.2/lib/type1/t1snap.lo
t1lib-5.1.2/lib/type1/t1stub.lo
t1lib-5.1.2/lib/type1/token.lo
t1lib-5.1.2/lib/type1/type1.lo
t1lib-5.1.2/lib/type1/util.lo
t1lib-5.1.2/libtool
t1lib-5.1.2/type1afm/Makefile
t1lib-5.1.2/type1afm/type1afm
t1lib-5.1.2/type1afm/type1afm.lo
tiff-4.0.2/Makefile
tiff-4.0.2/build/Makefile
tiff-4.0.2/config.log
tiff-4.0.2/config.status
tiff-4.0.2/contrib/Makefile
tiff-4.0.2/contrib/addtiffo/.deps/
tiff-4.0.2/contrib/addtiffo/Makefile
tiff-4.0.2/contrib/addtiffo/addtiffo
tiff-4.0.2/contrib/dbs/.deps/
tiff-4.0.2/contrib/dbs/Makefile
tiff-4.0.2/contrib/dbs/tiff-bi
tiff-4.0.2/contrib/dbs/tiff-grayscale
tiff-4.0.2/contrib/dbs/tiff-palette
tiff-4.0.2/contrib/dbs/tiff-rgb
tiff-4.0.2/contrib/dbs/xtiff/Makefile
tiff-4.0.2/contrib/iptcutil/.deps/
tiff-4.0.2/contrib/iptcutil/Makefile
tiff-4.0.2/contrib/iptcutil/iptcutil
tiff-4.0.2/contrib/mfs/Makefile
tiff-4.0.2/contrib/pds/Makefile
tiff-4.0.2/contrib/ras/Makefile
tiff-4.0.2/contrib/stream/Makefile
tiff-4.0.2/contrib/tags/Makefile
tiff-4.0.2/contrib/win_dib/Makefile
tiff-4.0.2/html/Makefile
tiff-4.0.2/html/images/Makefile
tiff-4.0.2/html/man/Makefile
tiff-4.0.2/libtiff-4.pc
tiff-4.0.2/libtiff/.deps/
tiff-4.0.2/libtiff/.libs/
tiff-4.0.2/libtiff/Makefile
tiff-4.0.2/libtiff/libtiff.la
tiff-4.0.2/libtiff/libtiffxx.la
tiff-4.0.2/libtiff/mkg3states
tiff-4.0.2/libtiff/stamp-h1
tiff-4.0.2/libtiff/stamp-h2
tiff-4.0.2/libtiff/tif_aux.lo
tiff-4.0.2/libtiff/tif_close.lo
tiff-4.0.2/libtiff/tif_codec.lo
tiff-4.0.2/libtiff/tif_color.lo
tiff-4.0.2/libtiff/tif_compress.lo
tiff-4.0.2/libtiff/tif_config.h
tiff-4.0.2/libtiff/tif_dir.lo
tiff-4.0.2/libtiff/tif_dirinfo.lo
tiff-4.0.2/libtiff/tif_dirread.lo
tiff-4.0.2/libtiff/tif_dirwrite.lo
tiff-4.0.2/libtiff/tif_dumpmode.lo
tiff-4.0.2/libtiff/tif_error.lo
tiff-4.0.2/libtiff/tif_extension.lo
tiff-4.0.2/libtiff/tif_fax3.lo
tiff-4.0.2/libtiff/tif_fax3sm.lo
tiff-4.0.2/libtiff/tif_flush.lo
tiff-4.0.2/libtiff/tif_getimage.lo
tiff-4.0.2/libtiff/tif_jbig.lo
tiff-4.0.2/libtiff/tif_jpeg.lo
tiff-4.0.2/libtiff/tif_jpeg_12.lo
tiff-4.0.2/libtiff/tif_luv.lo
tiff-4.0.2/libtiff/tif_lzma.lo
tiff-4.0.2/libtiff/tif_lzw.lo
tiff-4.0.2/libtiff/tif_next.lo
tiff-4.0.2/libtiff/tif_ojpeg.lo
tiff-4.0.2/libtiff/tif_open.lo
tiff-4.0.2/libtiff/tif_packbits.lo
tiff-4.0.2/libtiff/tif_pixarlog.lo
tiff-4.0.2/libtiff/tif_predict.lo
tiff-4.0.2/libtiff/tif_print.lo
tiff-4.0.2/libtiff/tif_read.lo
tiff-4.0.2/libtiff/tif_stream.lo
tiff-4.0.2/libtiff/tif_strip.lo
tiff-4.0.2/libtiff/tif_swab.lo
tiff-4.0.2/libtiff/tif_thunder.lo
tiff-4.0.2/libtiff/tif_tile.lo
tiff-4.0.2/libtiff/tif_unix.lo
tiff-4.0.2/libtiff/tif_version.lo
tiff-4.0.2/libtiff/tif_warning.lo
tiff-4.0.2/libtiff/tif_write.lo
tiff-4.0.2/libtiff/tif_zip.lo
tiff-4.0.2/libtiff/tiffconf.h
tiff-4.0.2/libtool
tiff-4.0.2/man/Makefile
tiff-4.0.2/port/.deps/
tiff-4.0.2/port/.libs/
tiff-4.0.2/port/Makefile
tiff-4.0.2/port/dummy.lo
tiff-4.0.2/port/lfind.lo
tiff-4.0.2/port/libport.la
tiff-4.0.2/test/.deps/
tiff-4.0.2/test/Makefile
tiff-4.0.2/tools/.deps/
tiff-4.0.2/tools/Makefile
tiff-4.0.2/tools/bmp2tiff
tiff-4.0.2/tools/fax2ps
tiff-4.0.2/tools/fax2tiff
tiff-4.0.2/tools/gif2tiff
tiff-4.0.2/tools/pal2rgb
tiff-4.0.2/tools/ppm2tiff
tiff-4.0.2/tools/ras2tiff
tiff-4.0.2/tools/raw2tiff
tiff-4.0.2/tools/rgb2ycbcr
tiff-4.0.2/tools/thumbnail
tiff-4.0.2/tools/tiff2bw
tiff-4.0.2/tools/tiff2pdf
tiff-4.0.2/tools/tiff2ps
tiff-4.0.2/tools/tiff2rgba
tiff-4.0.2/tools/tiffcmp
tiff-4.0.2/tools/tiffcp
tiff-4.0.2/tools/tiffcrop
tiff-4.0.2/tools/tiffdither
tiff-4.0.2/tools/tiffdump
tiff-4.0.2/tools/tiffinfo
tiff-4.0.2/tools/tiffmedian
tiff-4.0.2/tools/tiffset
tiff-4.0.2/tools/tiffsplit
